<form action="/home/exercicio2Resultado" method="post">
    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" />
    </div>
    <div>
        <label for="altura">Altura(m)</label>
        <input type="text" id="altura" name="altura" />
    </div>
    <div>
        <label for="peso">Peso(KG)</label>
        <input type="text" id="peso" name="peso" />
    </div>

    <button type="submit">Calcular IMC</button>
</form>