<form action="/home/exercicio1Resultado" method="get">
    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" />
    </div>
    <div>
        <label for="sobrenome">Sobrenome</label>
        <input type="text" id="sobrenome" name="sobrenome" />
    </div>

    <button type="submit">Processar</button>
</form>